body {
    margin: 0;
    padding: 0;
}

.wrap {
    position: relative;
    width: 1400px;
    height: 900px;
}

.shole {
    position: absolute;
    top: 338px;
    left: 168px;
}

.bag {
    position: absolute;
    top: 376px;
    left: 1067px;
}


.group {
    position: relative;
    width: 700px;
    height: 1018px;
    top: 165px;
    left: 349px;
    background: url('../images/BG.png') no-repeat;
}

[class^="group-"] {
    position: absolute;
}

.group-model-1 {
    top: 214px;
    left: 168px;
}

.group-model-2 {
    top: 184px;
    left: 376px;
}

.group-d {
    top: 387px;
    left: 320px;
}

.group-c {
    top: 154px;
    left: 325px;
}

.group-symbol {
    top: 284px;
    left: 335px;
}

.group-Christian-Dior {
    top: 403px;
    left: 64px;
}
