body {
    margin: 0;
    bottom: 0;
}

.wrap {
    position: relative;
    width: 1920px;
    height: 777px;
    background: url("../images/BG.png") no-repeat;
}

.nexon-title {
    position: absolute;
    top: 53px;
    left: 718px;
}

.robot-right {
    position: absolute;
    top: 380px;
    right: 425px;
    z-index: 10;
}

.robot-left {
    position: absolute;
    top: 385px;
    left: 350px;
    z-index: 10;
}

.youtube {
    position: absolute;
    top: 332px;
    left: 625px;
}

.planet-right {
    position: absolute;
    top: 61px;
    right: 354px;
}

.planet-left {
    position: absolute;
    top: 245px;
    left: 327px;
}